{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="mt-3 mx-3">
            <table class="table table-lg table-striped table-bordered">
                <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Report ID</th>
                    <th>Name</th>
                    <th>Deviсe ID</th>
                    <th>Error Description</th>
                </tr>
                </thead>
                <tbody>
                {% for report in reports %}
                    <tr>
                        <td class="align-middle">{{ report.client }}</td>
                        <td class="align-middle">{{ report.client }}</td>
                        <td class="align-middle">{{ report.name }}</td>
                        <td class="align-middle">{{ report.deviceID }}</td>
                        <td class="align-middle">{{ report.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row my-3">
            <a class="btn btn-primary mx-auto" href="/">Go Back</a>
        </div>
    </div>
{% endblock %}