{% extends 'base.html.twig' %}

{% block title %}Client list{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="mx-auto my-3">Сlient info
            </h3>
        </div>
        <div class="mt-3 mx-3">
            <table class="table table-lg table-striped table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Client ID</th>
                    <th>Telephone</th>
                    <th>Country</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle">{{ client.name }}</td>
                    <td class="align-middle">{{ client.id }}</td>
                    <td class="align-middle">{{ client.telephone }}</td>
                    <td class="align-middle">{{ client.country }}</td>
                    <td class="align-middle">{{ client.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row my-3">
            <a class="btn btn-primary mx-auto" href="/client/info">Go Back</a>
        </div>
    </div>
{% endblock %}